.body {
  composes: bgColor from "../colors.module.css";
  height: 100svh;
  scrollbar-width: none;
  row-gap: 10px;
}

.container {
  min-height: 90dvh;
  display: flex;
  place-self: end;
  scrollbar-width: none;
  justify-content: center;
}

.navigation {
  composes: bgColor from "../colors.module.css";
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 0.1px 1px 0.1px oklch(90% 0 90);
}

.menuBar {
  display: flex;
  composes: softWhite from "../colors.module.css";
  font-size: 30px;
  column-gap: 20px;
}

.input {
  padding: 1% 5%;
  border: none;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
}

.searchContainer {
  min-width: 30%;
  display: flex;
  column-gap: 10px;
}
