.container {
  display: flex;
  flex-direction: column;
  animation: mask-up;
  /* animation-timeline: scroll(self); */
  /* animation-range: 0 1rem; */
  position: relative;
  mask-composite: exclude;
  font-family: "Stack Sans Notch", sans-serif;
  /* max-height: 85dvh; */
  row-gap: 35px;
  padding: 1%;
  max-width: 50%;
  min-width: 50%;
  scrollbar-width: none;
  overflow-y: auto;
  scroll-behavior: smooth;
}

@keyframes mask-up {
  to {
    mask-size:
      100% 120px,
      100% 100%;
  }
}

.top {
  display: flex;
  column-gap: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.height {
  max-height: 80%;
}

.container > * {
  flex: 1 1 10%;
}

.post > * {
  padding: 2%;
  border-radius: 10px;
}

.post {
  composes: softerWhite from "../colors.module.css";
  background-color: oklch(0.1558 0.0456 260.37);
  padding: 3%;
  max-height: 250px;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex-grow: 1;
  border-radius: 10px;
  position: relative;
  /* border: 0.01em solid oklch(0.6721 0.032 260.37); */
  box-shadow: 5px 5px 2px oklch(0.2003 0.032 260.37);
  /* width: max(47%, 15rem); */
}

.post pre {
  padding: 2%;
  border-radius: 10px;
}

.iconButton {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.preview {
  display: flex;
  column-gap: 20px;
  max-height: 200px;
  justify-content: space-between;
}

.selectedContainer {
  composes: softerWhite from "../colors.module.css";
  background-color: oklch(0.1558 0.0456 260.37);
  width: 100%;
  min-height: 60dvh;
  overflow: hidden;
  box-shadow: 5px 5px 2px oklch(0.2003 0.032 260.37);
  max-height: 90dvh;
  overflow-y: scroll;
}

.selectedContainer pre {
  padding: 2%;
  border-radius: 10px;
  text-wrap: auto;
}

.actions {
  max-width: 50px;
  display: flex;
  flex-direction: column;
  position: absolute;
  row-gap: 20px;
  right: 30px;
  top: 30px;
}

.selectedPost {
  display: flex;
  flex-direction: column;
  padding: 5%;
  min-height: 70%;
  row-gap: 10px;
}

.selectedPost > * {
  min-height: 50%;
  text-wrap: pretty;
}

@media screen and (max-width: 800px) {
  .container {
    min-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .post {
    min-width: 90%;
  }
}
