.bgColor {
  background-color: hsl(218, 36%, 13%);
}

.primaryColor {
  /* color: hsl(218, 60%, 50%); */
  background-color: oklch(50% 0.6 218);
}

.softWhite {
  color: oklch(90% 0 90);
}

.softerWhite {
  color: oklch(80% 0 90);
}

.secondaryContainer {
  color: hsl(218, 23%, 28%);
}

.titleFont {
  font-family: "Anton Sc", sans-serif;
}

.italicFont {
  font-family: "Lobster", sans-serif;
}

.button {
  composes: softWhite;
  composes: primaryColor;
}
